body {
    font-family: Arial, sans-serif;
    background-color: f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 40px 20px;
}

.todo-container {
    background-color: white;
    width: 100%;
    max-width: 500px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section,
.filter-section {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#taskCount{
    margin-bottom: 15px;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.task-buttons {
    display: flex;
    gap: 8px;
}

.active-filter {
    background-color: #007bff;
    color: white;
}

#addBtn {
    background-color: #28a745;
    color: white;
}

#clearAllBtn {
    background-color: #dc3545;
    color: white;
}

.task-buttons button:first-child {
    background-color: #17a2b8; /* Complete */
    color: white;
}

.task-buttons button:last-child {
    background-color: #dc3545; /* Delete */
    color: white;
}

button:hover {
    opacity: 0.85;
    transform: scale(1.03);
}

.task-buttons button:first-child {
    background-color: #ffc107;
    color: black;
}

.edit-btn {
    background-color: #ffc107;
    color: black;
}

.complete-btn {
    background-color: #17a2b8;
    color: white;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.dark-mode {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode .todo-container {
    background-color: #2c2c2c;
    color: white;
}

.dark-mode li {
    background-color: #3a3a3a;
}

.dark-mode input,
.dark-mode .edit-input,
.dark-mode select {
    background-color: #444;
    color: white;
    border: 1px solid #666;
}

.task-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.category-tag {
    font-size: 12px;
    opacity: 0.7;
    background-color: #e93c3f;
    width: fit-content;
    padding: 2px 8px;
    border-radius: 12px;
}

.dark-mode .category-tag {
    background-color: #555;
    color: white;
}